<div class="container-body">
  <div class="row">
      <h1 class="title">About</h1>
      <p>This is a blog created by Ruby on Rails developer Rob Sturcke to further experiment and test out new capabilities learned from the Ruby on Rails web language.</p>
  </div>
</div>
