<h1>All Posts</h1>
<% @posts.each do |post| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to (post.title), post %>
      </h4>
    </div>
  </div>
<% end %>
    <% if user_signed_in? %>
      | <%= link_to "New Post", new_post_path, class: 'btn btn-success' %> |
  		| <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-success' %> |
  		  <%= link_to 'Delete', post_path(@post), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
	  <% end %>
